Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*
WarningsAsErrors: ''
HeaderFilterRegex: '(library|apps/cli)/(include|src|adapters|commands|schema)/.*'
CheckOptions:
  readability-identifier-length.IgnoredVariableNames: 'id|it'
